--
-- PostgreSQL database dump
--

\restrict TNOvoeDbOJCeaJ7keBg02CxzeqmEwNAsri1b9TSGqrqMa9Cf9EyBOf9oDDyTbu9

-- Dumped from database version 13.22 (Debian 13.22-1.pgdg13+1)
-- Dumped by pg_dump version 13.22 (Debian 13.22-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: track_project; Type: SCHEMA; Schema: -; Owner: user
--

CREATE SCHEMA track_project;


ALTER SCHEMA track_project OWNER TO "user";

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_analysis; Type: TABLE; Schema: track_project; Owner: user
--

CREATE TABLE track_project.ai_analysis (
    id integer NOT NULL,
    commit_id integer,
    analysis_type character varying(50),
    results json,
    confidence_score numeric(3,2),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE track_project.ai_analysis OWNER TO "user";

--
-- Name: ai_analysis_id_seq; Type: SEQUENCE; Schema: track_project; Owner: user
--

CREATE SEQUENCE track_project.ai_analysis_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE track_project.ai_analysis_id_seq OWNER TO "user";

--
-- Name: ai_analysis_id_seq; Type: SEQUENCE OWNED BY; Schema: track_project; Owner: user
--

ALTER SEQUENCE track_project.ai_analysis_id_seq OWNED BY track_project.ai_analysis.id;


--
-- Name: commit_files; Type: TABLE; Schema: track_project; Owner: user
--

CREATE TABLE track_project.commit_files (
    id integer NOT NULL,
    commit_id integer,
    file_path character varying(500) NOT NULL,
    file_name character varying(255),
    file_extension character varying(50),
    change_type character varying(20),
    additions integer DEFAULT 0,
    deletions integer DEFAULT 0,
    changes integer DEFAULT 0,
    patch text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE track_project.commit_files OWNER TO "user";

--
-- Name: commit_files_id_seq; Type: SEQUENCE; Schema: track_project; Owner: user
--

CREATE SEQUENCE track_project.commit_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE track_project.commit_files_id_seq OWNER TO "user";

--
-- Name: commit_files_id_seq; Type: SEQUENCE OWNED BY; Schema: track_project; Owner: user
--

ALTER SEQUENCE track_project.commit_files_id_seq OWNED BY track_project.commit_files.id;


--
-- Name: commits; Type: TABLE; Schema: track_project; Owner: user
--

CREATE TABLE track_project.commits (
    id integer NOT NULL,
    hash_key character varying(255) NOT NULL,
    commit_sha character varying(255) NOT NULL,
    message text,
    author character varying(255),
    author_email character varying(255),
    repository character varying(255),
    branch character varying(255),
    created_at timestamp without time zone DEFAULT now(),
    committed_at timestamp without time zone,
    ai_processed boolean DEFAULT false,
    ai_analysis json,
    event_status character varying(50) DEFAULT 'pending'::character varying
);


ALTER TABLE track_project.commits OWNER TO "user";

--
-- Name: commits_id_seq; Type: SEQUENCE; Schema: track_project; Owner: user
--

CREATE SEQUENCE track_project.commits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE track_project.commits_id_seq OWNER TO "user";

--
-- Name: commits_id_seq; Type: SEQUENCE OWNED BY; Schema: track_project; Owner: user
--

ALTER SEQUENCE track_project.commits_id_seq OWNED BY track_project.commits.id;


--
-- Name: tracking_config; Type: TABLE; Schema: track_project; Owner: user
--

CREATE TABLE track_project.tracking_config (
    id integer NOT NULL,
    repository character varying(255) NOT NULL,
    enabled boolean DEFAULT true,
    last_checked timestamp without time zone,
    check_interval integer DEFAULT 300,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE track_project.tracking_config OWNER TO "user";

--
-- Name: tracking_config_id_seq; Type: SEQUENCE; Schema: track_project; Owner: user
--

CREATE SEQUENCE track_project.tracking_config_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE track_project.tracking_config_id_seq OWNER TO "user";

--
-- Name: tracking_config_id_seq; Type: SEQUENCE OWNED BY; Schema: track_project; Owner: user
--

ALTER SEQUENCE track_project.tracking_config_id_seq OWNED BY track_project.tracking_config.id;


--
-- Name: ai_analysis id; Type: DEFAULT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.ai_analysis ALTER COLUMN id SET DEFAULT nextval('track_project.ai_analysis_id_seq'::regclass);


--
-- Name: commit_files id; Type: DEFAULT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.commit_files ALTER COLUMN id SET DEFAULT nextval('track_project.commit_files_id_seq'::regclass);


--
-- Name: commits id; Type: DEFAULT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.commits ALTER COLUMN id SET DEFAULT nextval('track_project.commits_id_seq'::regclass);


--
-- Name: tracking_config id; Type: DEFAULT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.tracking_config ALTER COLUMN id SET DEFAULT nextval('track_project.tracking_config_id_seq'::regclass);


--
-- Data for Name: ai_analysis; Type: TABLE DATA; Schema: track_project; Owner: user
--

COPY track_project.ai_analysis (id, commit_id, analysis_type, results, confidence_score, created_at) FROM stdin;
\.


--
-- Data for Name: commit_files; Type: TABLE DATA; Schema: track_project; Owner: user
--

COPY track_project.commit_files (id, commit_id, file_path, file_name, file_extension, change_type, additions, deletions, changes, patch, created_at) FROM stdin;
\.


--
-- Data for Name: commits; Type: TABLE DATA; Schema: track_project; Owner: user
--



--
-- Data for Name: tracking_config; Type: TABLE DATA; Schema: track_project; Owner: user
--

COPY track_project.tracking_config (id, repository, enabled, last_checked, check_interval, created_at) FROM stdin;
1	jafar90147677/Ai-Agent	t	\N	300	2025-08-15 16:53:18.251756
\.


--
-- Name: ai_analysis_id_seq; Type: SEQUENCE SET; Schema: track_project; Owner: user
--

SELECT pg_catalog.setval('track_project.ai_analysis_id_seq', 1, false);


--
-- Name: commit_files_id_seq; Type: SEQUENCE SET; Schema: track_project; Owner: user
--

SELECT pg_catalog.setval('track_project.commit_files_id_seq', 1, false);


--
-- Name: commits_id_seq; Type: SEQUENCE SET; Schema: track_project; Owner: user
--

SELECT pg_catalog.setval('track_project.commits_id_seq', 1, false);


--
-- Name: tracking_config_id_seq; Type: SEQUENCE SET; Schema: track_project; Owner: user
--

SELECT pg_catalog.setval('track_project.tracking_config_id_seq', 1, true);


--
-- Name: ai_analysis ai_analysis_pkey; Type: CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.ai_analysis
    ADD CONSTRAINT ai_analysis_pkey PRIMARY KEY (id);


--
-- Name: commit_files commit_files_pkey; Type: CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.commit_files
    ADD CONSTRAINT commit_files_pkey PRIMARY KEY (id);


--
-- Name: commits commits_hash_key_key; Type: CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.commits
    ADD CONSTRAINT commits_hash_key_key UNIQUE (hash_key);


--
-- Name: commits commits_pkey; Type: CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.commits
    ADD CONSTRAINT commits_pkey PRIMARY KEY (id);


--
-- Name: tracking_config tracking_config_pkey; Type: CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.tracking_config
    ADD CONSTRAINT tracking_config_pkey PRIMARY KEY (id);


--
-- Name: idx_ai_analysis_commit_id; Type: INDEX; Schema: track_project; Owner: user
--

CREATE INDEX idx_ai_analysis_commit_id ON track_project.ai_analysis USING btree (commit_id);


--
-- Name: idx_commit_files_commit_id; Type: INDEX; Schema: track_project; Owner: user
--

CREATE INDEX idx_commit_files_commit_id ON track_project.commit_files USING btree (commit_id);


--
-- Name: idx_commits_commit_sha; Type: INDEX; Schema: track_project; Owner: user
--

CREATE INDEX idx_commits_commit_sha ON track_project.commits USING btree (commit_sha);


--
-- Name: idx_commits_created_at; Type: INDEX; Schema: track_project; Owner: user
--

CREATE INDEX idx_commits_created_at ON track_project.commits USING btree (created_at);


--
-- Name: idx_commits_hash_key; Type: INDEX; Schema: track_project; Owner: user
--

CREATE INDEX idx_commits_hash_key ON track_project.commits USING btree (hash_key);


--
-- Name: idx_commits_repository; Type: INDEX; Schema: track_project; Owner: user
--

CREATE INDEX idx_commits_repository ON track_project.commits USING btree (repository);


--
-- Name: ai_analysis ai_analysis_commit_id_fkey; Type: FK CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.ai_analysis
    ADD CONSTRAINT ai_analysis_commit_id_fkey FOREIGN KEY (commit_id) REFERENCES track_project.commits(id) ON DELETE CASCADE;


--
-- Name: commit_files commit_files_commit_id_fkey; Type: FK CONSTRAINT; Schema: track_project; Owner: user
--

ALTER TABLE ONLY track_project.commit_files
    ADD CONSTRAINT commit_files_commit_id_fkey FOREIGN KEY (commit_id) REFERENCES track_project.commits(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TNOvoeDbOJCeaJ7keBg02CxzeqmEwNAsri1b9TSGqrqMa9Cf9EyBOf9oDDyTbu9

